<h1>Espectáculos</h1>
<button (click)="getEscenarios()"> Ver escenarios</button>

<ol>
    <li *ngFor="let escenario of escenarios">
        
        <span (click)="getEspectaculos(escenario)">{{ escenario.nombre }} - {{ escenario.descripcion }}</span>
        <ul>
            <li *ngFor="let espectaculo of escenario.espectaculos">
                {{ espectaculo.artista }} - {{ espectaculo.fecha }} ({{ espectaculo.escenario }})
                <span (click)="getNumeroDeEntradas(espectaculo)"> Ver entradas disponibles</span>
                <span *ngIf="espectaculo.entradas != null">
                    - Hay {{ espectaculo.entradas.total }} entradas y <a (click)="irAComprarEntradas()">hay</a> {{ espectaculo.entradas.libres }} entradas libres
                </span>
            </li>
        </ul>
    </li>
</ol>